
// Colors.
@background-color: #DDDDDD;
@primary-color: #64FFDA;
@primary-color-dark: #1DE9B6;
@error-color: #FF7777;
@navbar-color: @primary-color-dark;

// Sizes.
@app-width: 70%;
@app-width-mobile: 90%;
@header-height: 200px;
@grid-width: 20px;

// Media queries.
@mobile: ~"screen and (max-width: 630px)";
@desktop: ~"screen and (min-width: 630px)";

.mobile-hide {
  @media @mobile {
    display: none !important;
  }
}

.desktop-hide {
  @media @desktop {
    display: none !important;
  }
}

body {
  margin: 0px;
  background-color: @background-color;
}

.app-header-image {
  height: @header-height;
  background-color: @primary-color;
}

.login-widget {
  position: absolute;
  margin-left: @grid-width;
}

.login-window {
  max-width: 500px !important;

  @media @mobile {
    width: @app-width-mobile !important;
  }
}

.login-window-body {
  height: 200px !important;
}

.login-spinner {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  top: 50px;
}

.login-error-message {
  text-align: center;
  margin-top: @grid-width;
  color: @error-color;
}

.app-navbar, .app-navdrawer {
  background-color: @navbar-color !important;
  a {
    text-decoration: none !important;
  }
}

.app-body {
  padding-left: (100% - @app-width) / 2;
  padding-right: (100% - @app-width) / 2;

  @media @mobile {
    padding-left: (100% - @app-width-mobile) / 2;
    padding-right: (100% - @app-width-mobile) / 2;
  }
}

.contact-page {
  margin-top: @grid-width;
  margin-bottom: @grid-width;
}

.contact-page-divider {
  margin-top: @grid-width;
  margin-bottom: @grid-width;
}

.contact-page-form {
  padding-left: 25%;
  padding-right: 25%;

  @media @mobile {
    padding-left: 5%;
    padding-right: 5%;
  }
}

// Post styling.
.app-post {
  margin-top: @grid-width;
  margin-bottom: @grid-width;
}

// BioCard styling.
@bio-height: 150px;

.app-bio {
  margin-top: @grid-width;
  margin-bottom: @grid-width;
}

.app-bio-image {
  width: @bio-height;
  height: @bio-height;
  background-color: @primary-color;
  display: inline-block;
  vertical-align: top;
}

.app-bio-content {
  height: @bio-height;
  display: inline-block;
  vertical-align: top;
}

// Element edit Button
.edit-container {
  position: relative;
}

.edit-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;

  button {
    // Override some material-ui styles.
    min-width: 0px !important;
    height: auto !important;
    line-height: inherit !important;

    svg {
      color: @primary-color-dark !important;
    }
  }
}

.floating-buttons {
  position: fixed;
  right: @grid-width;
  bottom: @grid-width;
  z-index: 2000;
}

.floating-button {
  margin-left: @grid-width;
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}

// Card Editor.
.card-editor-dialog {
  width: @app-width !important;

  @media @mobile {
    width: @app-width-mobile !important;
  }
}
